/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  font-family: Helvetica Neue, Helvetica, Liberation Sans, Arial, sans-serif;
  background: #e9ebee;
}
.pseudo-link {
  font-size: 11px;
  color: #365899;
  cursor: pointer;
}

.pseudo-link:hover {
  text-decoration: underline;
}

.item-container {
  width: 300px;
  background: #fff;
  border-radius: 5px;
  border: solid 1px #ddd;
  margin-top: 15px;
  padding: 15px;
  font-size: 12px;
  margin-right: 25px;
}

.item-container h1 {
  font-size: 18px;
  margin-bottom: 10px;
}
