.comments {
  background: #f2f3f5;
  margin: 0px -15px -25px -15px;
  padding: 15px;
  border-top: solid 1px #dddfe2;
  margin-top: 20px;
}

.comment-form {
  display: flex;
  padding-top: 15px;
}

.comment-form textarea {
  min-height: 32px;
  width: 430px;
  border-radius: 18px;
  padding: 10px;
  padding-bottom: 10px;
  resize: none;
  box-sizing: border-box;
  border: solid 1px #dddfe2;
}

.comment-form > div {
  height: 32px;
  width: 32px;
  border-radius: 100%;
  background-size: contain;
  margin-right: 10px;
}

.comment > p {
  background: #fff;
  min-height: 32px;
  border-radius: 18px;
  padding: 10px;
  margin: 5px 0px;
  max-width: 410px;
  font-size: 13px;
}
.comment {
  display: flex;
  position: relative;
}

.comment-author {
  font-weight: 500;
  color: #315796;
}
.comment img {
  object-fit: cover;
  height: 32px;
  width: 32px;
  border-radius: 100%;
  margin: 5px 10px 5px 0px;
}

.comment-modal-btn-container {
  position: relative;
}

.comment-modal-btn {
  display: none;
  background: none;
  position: absolute;
  top: 12px;
  font-size: 16px;
  margin-left: 10px;
}

.comment:hover .comment-modal-btn {
  display: block;
  color: #ccc;
}

.comment .comment-modal-btn:hover {
  color: #333;
}
.comment-modal-btn-container:hover .comment-modal-btn-modal {
  display: block;
}
.comment-modal-btn-modal {
  position: absolute;
  height: 30.5px;
  width: 80px;
  left: -27px;
  top: -17px;
  background: #222;
  color: #fff;
  border-radius: 3px;
  padding: 8px 2px;
  text-align: center;
  display: none;
}
.comment-modal-btn-modal.v2 {
  width: 110px;
}
.black-triangle {
  position: absolute;
  height: 10px;
  width: 10px;
  bottom: -5px;
  left: 40px;
  transform: rotate(45deg);
  background: #222;
}
.comment-modal-container {
  position: relative;
}
.post-modal.comment-option {
  top: 35px;
  left: -57px;
  z-index: 9;
}
.white-modal-triangle {
  height: 10px;
  width: 10px;
  background: #fff;
  position: absolute;
  top: -6px;
  right: 10px;
  transform: rotate(45deg);
  border-left: 1px solid #b3b3b3;
  border-top: 1px solid #b3b3b3;
}
