.comments {
  background: #f2f3f5;
  margin: 0px -15px -25px -15px;
  padding: 15px;
  border-top: solid 1px #dddfe2;
  margin-top: 20px;
}

.comment-form {
  display: flex;
  padding: 15px 0px;
}

.comment-form textarea {
  min-height: 32px;
  width: 430px;
  border-radius: 18px;
  padding: 10px;
  resize: none;
}

.comment-form > div {
  height: 32px;
  width: 32px;
  border-radius: 100%;
  background-size: contain;
  margin-right: 10px;
}

.comment p {
  background: #fff;
  min-height: 32px;
  border-radius: 18px;
  padding: 10px;
  margin: 5px 0px;
  width: 430px;
}
.comment {
  display: flex;
}

.comment-author {
  font-weight: 500;
  color: #315796;
}
.comment img {
  object-fit: cover;
  height: 32px;
  width: 32px;
  border-radius: 100%;
  margin: 5px 10px 5px 0px;
}
