.demo-modal {
  background: linear-gradient(#ba68c8, #ab47bc);
  width: 400px;
  padding: 20px;
  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 4px #7b1fa2;
  border-radius: 5px;
  border: solid 1px #6a1b9a;
  box-shadow: 1px 1px 3px #6a1b9a;
  margin-top: 20px;
}

.demo-modal:hover {
  background: linear-gradient(#ce93d8, #ba68c8);
}
