.feed-container {
  padding-top: 42px;
  width: 980px;
  margin: auto;
}
.feed {
  margin-left: 210px;
  width: 505px;
  display: flex;
}

/*Sidebar*/
.feed-sidebar-links {
  position: absolute;
  top: 52px;
  width: 180px;
  padding: 10px;
  font-size: 15px;
}
.feed-sidebar-links li {
  height: 28px;
  width: 135px;
  cursor: pointer;
  margin-bottom: 10px;
}
.feed-profile-link a {
  display: flex;
  margin-bottom: 10px;
}

.feed-profile-link img {
  height: 24px;
  width: 24px;
  border-radius: 100%;
  margin-right: 5px;
}
