.friends-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0px -15px -13px -15px;
  padding: 0px 2.5px;
}
.friend-card {
  height: 101px;
  width: 103px;
  position: relative;
  background: #bbb;
  margin: 2.5px;
  overflow: hidden;
}
.friend-card > p {
  position: absolute;
  bottom: 5px;
  left: 5px;
  color: white;
  text-shadow: 1px 1px 2px #000;
}
