.nav-main-wrapper {
  width: 100%;
  height: 42px;
  background: #3c66af;
  position: fixed;
  z-index: 3;
}
.nav-main {
  display: flex;
  justify-content: space-between;
  color: white;
  width: 980px;
  box-sizing: border-box;
  margin: auto;
}
.nav-main-header-wrapper {
  display: flex;
}
.nav-search {
  margin-top: 9px;
  margin-left: 2px;
  font-size: 14px;
}
.nav-search input {
  display: inline;
  height: 24px;
  width: 400px;
  border-radius: 3px 0px 0px 3px;
  color: #333;
  box-sizing: border-box;
  padding: 0px 5px;
}
.nav-search button {
  display: inline;
  height: 24px;
  width: 46px;
  background-color: #f6f7f9;
  color: #4b4f56;
  border-radius: 0px 3px 3px 0px;
  box-sizing: border-box;
  text-align: center;
}
.nav-header {
  font-size: 16px;
  margin: 5px;
  margin-top: 9px;
}
.header-t {
  background: white;
  color: #3b5998;
  height: 24px;
  width: 24px;
  border-radius: 3px;
  box-sizing: border-box;
  display: inline-block;
  position: relative;
}
.header-t p {
  font-size: 24px;
  font-weight: 900;
  position: absolute;
  bottom: -4px;
  right: 3px;
}

.nav-main ul {
  display: flex;
  vertical-align: middle;
}
.nav-main-img {
  height: 24px;
  width: 24px;
  border-radius: 100%;
  margin-right: 10px;
  margin-top: -5px;
}

.nav-main-list-item {
  padding: 5px;
  padding-top: 10px;
  margin: 5px 0px 0px 0px;
  font-size: 11.5px;
  font-weight: 400;
  letter-spacing: 1px;
  box-sizing: border-box;
  cursor: pointer;
  height: 34px;
  border-radius: 3px;
}
.nav-main-profile-btn {
  display: flex;
  padding-right: 10px;
}
.nav-main-list-item:hover {
  background-color: #2a5089;
}
.nav-main-home {
  margin-right: 20px;
  padding-left: 10px;
}
.nav-break {
  color: #355088;
  margin: 0px;
  margin-top: 12px;
}
.nav-break-2 {
  margin-left: 10px;
  margin-right: 10px;
}

.nav-icon-container {
  margin: 5px 0px 10px 0px;
  padding-top: 5px;
}
.nav-icon-container:hover {
  background-color: #3c66af;
}
.nav-icon {
  height: 24px;
  width: 24px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: image-url('icon-sprite');
}
.ni-friend {
  background-position: 0px 0px;
}
.ni-friend:hover {
  background-position: 0px -24px;
}
.ni-friend-active {
  background-position: 0px -48px;
}
.ni-message {
  background-position: 0px -72px;
}
.ni-message:hover {
  background-position: 0px -96px;
}
.ni-message-active {
  background-position: 0px -120px;
}
.ni-notification {
  background-position: 0px -168px;
}
.ni-notification:hover {
  background-position: 0px -192px;
}
.ni-notification-active {
  background-position: 0px -216px;
}
.ni-question {
  background-position: 0px -240px;
}
.ni-question:hover {
  background-position: 0px -264px;
}
.ni-question-active {
  background-position: 0px -288px;
}
.ni-dropdown {
  background-position: 0px -312px;
}
.ni-dropdown:hover {
  background-position: 0px -336px;
}
.ni-dropdown-active {
  background-position: 0px -360px;
}
// .nav-main-list-item:hover {
//   background: #2f4779;
// }
