.about {
  width: 300px;
  background: #fff;
  border-radius: 5px;
  margin-top: 15px;
  padding: 15px;
  font-size: 12px;
  margin-right: 25px;
}

.about h1 {
  font-size: 14px;
  margin-bottom: 10px;
}
