.signup-container {
  width: 980px;
  display: flex;
  margin: auto;
  padding: 20px 0px;
  color: #333;
}
.signup {
  width: 400px;
  height: 700px;
}

.signup > h2 {
  font-size: 35px;
  font-weight: 500;
}
.signup > h4 {
  font-size: 17px;
  margin-bottom: 20px;
}

.signup form > input {
  border: solid 1px #bdc7d8;
  box-sizing: border-box;
  height: 39px;
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 8px 10px;
}
.signup form > input:first-of-type {
  margin-right: 11px;
}
.input-large {
  width: 399px;
}
.input-small {
  width: 194px;
}

.birthday-container {
  display: flex;
}
.signup-birthday > select {
  padding: 5px;
  height: 30px;
  font-size: 12px;
}
.signup-birthday {
  padding: 5px 0px;
  margin-right: 10px;
}
.birthday-info {
  width: 150px;
  height: 30px;
  padding-top: 5px;
}
.sex {
  margin-top: 10px;
}
.sex input {
  height: 15px;
  width: 14px;
  margin: 3px 3.2px;
}
.sex > span {
  margin-right: 15px;
}
.sign-up-disclaimer {
  margin: 20px 0px;
  font-size: 11px;
  color: #777;
  width: 316px;
}

.signup-button {
  color: white;
  font-weight: 700;
  text-shadow: 1px 1px 5px #2c5115;
  background: linear-gradient(#67ae55, #578843);
  background-color: #3b6e22;
  box-sizing: border-box;
  text-align: center;
  height: 40px;
  width: 200px;
  border-radius: 5px;
  border: solid 1px #2c5115;
  overflow: hidden;
}
.signup-button:hover {
  background: linear-gradient(#a4e388, #578843);
  background-color: #3b6e22;
}

/* left side of sign up page */
.no-recent-logins {
  width: 580px;
  height: 700px;
}

.no-recent-logins h2 {
  font-size: 26px;
  font-weight: 500;
  width: 420px;
  padding-top: 42px;
  padding-bottom: 24px;
}

.intro-feature-box {
  display: flex;
  padding: 5px;
}
.intro-feature-box > div {
  margin-right: 10px;
}
.intro-feature-box > h4 {
  font-weight: bold;
  margin: 10px 5px;
  font-size: 16px;
}
.intro-feature-box > p {
  margin: 11.5px 5px;
  color: #666;
  font-size: 14px;
}
.img-box {
  width: 55px;
  height: 55px;
}
#main1 {
  background-image: url('main1.png');
  height: 43px;
  width: 48px;
}
#main2 {
  background-image: url('main2.png');
  height: 44px;
  width: 45px;
}
#main3 {
  background-image: url('main3.png');
  height: 51px;
  width: 55px;
}

.recent-logins {
  width: 580px;
  height: 700px;
  background: #cfc;
}
